.profitly-customers {
    @include eb-display-flex();
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.profitly-customer {

    display: inline-block;
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }

    & + .profitly-customer {
        margin-left: 20px;
    }

    img {
        width: 100%;
        vertical-align: middle;
    }
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 840px) {

    .profitly-customer {
        height: 35px;
        line-height: 35px;
    }
}