.container {
    position: relative;
    width: 100%;
    max-width: 1344px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
.container:after,
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
    padding-right: 20px;
    padding-left: 20px;
}
@media screen and (min-width: 480px) {
    .container {
        width: 95%;
    }
    .row {
        padding: 0;
    }
}
@media screen and (min-width: 840px) {
    .container {
        width: 95%;
    }
}