export BASE_APP_PATH=application
export NODE_PORT=3001
export FACEBOOK_CLIENT_ID="test"
export FACEBOOK_CLIENT_SECRET="test"
export FACEBOOK_CALLBACK_URL="test"
export GOOGLE_CLIENT_ID="test"
export GOOGLE_CLIENT_SECRET="test"
export GOOGLE_CALLBACK_URL="test"
export STRIPE_PUBLISHABLE_KEY="publishable_key"
export STRIPE_SECRET_KEY="secret_key"
export STRIPE_WEBHOOK_URL="test"