<!DOCTYPE html>
<html>
    <head>
        <title>Profitly</title>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0' />
        <link rel="stylesheet" type="text/css" href="/css/styles.css" />
        PAGE_META_TAGS
    </head>
    <body>
        <div id="root"></div>
        <script type="application/javascript" src="/js/bundle.js"></script>
        <script type='text/javascript'>(function() {var gs = document.createElement('script');gs.src = 'https://snippet.growsumo.com/growsumo.min.js';gs.type = 'text/javascript';gs.async = 'true';gs.onload = gs.onreadystatechange = function() {var rs = this.readyState;if (rs && rs != 'complete' && rs != 'loaded') return;try {growsumo._initialize('pk_GnY6QiUDFQxft2ziE6tMuoIkX5XsDhg5');if (typeof(growsumoInit) === 'function') {growsumoInit();}} catch (e) {}};var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(gs, s);})();</script>
    </body>
</html>