@import "../mixins";
@import "../reset";
@import "../buttons";
@import "../fonts";
@import "../forms";
@import "../scaffold";
@import "../typography";
@import "../authPages";
@import "../customerGallery";
@import "../starRating";

.login-form-sep {
    margin: 10px 0;
    background-color: #ffffff;
    height: 2px;
    width: 50px;
    display: inline-block;
}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 840px) {

}